<aside class="widget">
    <h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
  {{#if popular}}
      {{#each popular}}
    <div class="popular-post">
        <a href="/blog/{{slug}}" class="popular-img"><img src="/images/{{image}}" alt="{{title}}">
            <div class="p-overlay"></div>
        </a>
        <div class="p-content">
            <a href="/blog/{{slug}}" class="text-uppercase">{{title}}</a>
            <span class="p-date">{{date}}</span>
        </div>
    </div>
      {{/each}}
  {{else}}
      No popular posts
  {{/if}}
</aside>