<div class="col-md-8">
    <div class="row">
        {{#if allposts}}
            {{#each allposts}}
                <div class="col-md-6">
                <article class="post post-grid">
                <div class="post-thumb">
                <a href="blog.html"><img src="/images/{{image}}" alt="{{title}}"></a>

                <a href="/blog/{{slug}}" class="post-thumb-overlay text-center">
                <div class="text-uppercase text-center">View Post</div>
            </a>
            </div>
            <div class="post-content">
                <header class="entry-header text-center text-uppercase">
                <h6><a href="#"> Travel</a></h6>

                <h1 class="entry-title"><a href="/blog/{{slug}}">{{title}}</a></h1>


            </header>
            <div class="entry-content">
                <p>{{description}}
            </p>

            <div class="social-share">
                <span class="social-share-title pull-left text-capitalize">{{date}}</span>
            </div>
            </div>
            </div>

            </article>
            </div>
            {{/each}}
        {{else}}
            No post by this category
        {{/if}}
    </div>
<ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
    </div>